/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/* 1.1 typography */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/* @import url('https://fonts.cdnfonts.com/css/bodoni');
@import url('https://fonts.cdnfonts.com/css/avenir'); */

body {
          /* font-family: 'Poppins'; */
          font-weight: 300;
          background-color: #ffc801;;
          -webkit-font-smoothing: antialiased;
          font-size: 17px;

}


p {
          font-weight: 300;

          font-size: 19px;
          /* line-height: 31px; */

}

.pragrp {
          /* font-family: 'EB Garamond'; */
}

.heading-color {
          font-family: 'Poppins' sans-serif;
          /* background: -webkit-linear-gradient(#ff33a3, #fe752b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

          font-family: 'Playfair Display';
          /* font-weight: 600; */
          line-height: 1.5;
}

h1,
.h1 {
          font-size: 56px;
          font-family: 'Playfair Display';
}

h2,
.h2 {
          font-size: 73px;
          /* font-family: 'Bodoni'; */

}

h3,
.h3 {
          font-size: 73px;
          /* font-family: 'Bodoni'; */
}

h4,
.h4 {
          font-size: 22px;
          /* font-family: 'Bodoni'; */
          color: #000000;
}

h5,
.h5 {
          font-size: 16px;
}

h6,
.h6 {
          font-size: 13px;
}

.btn {
          font-size: 20px;
          font-family: 'Poppins' sans-serif;
          text-transform: capitalize;
          padding: 15px 25px;
          font-weight: 400;

          border: 0;
          border-radius: 5px;
          position: relative;
          z-index: 1;
          transition: .2s ease;
}

.btn:focus {
          outline: 0;
          box-shadow: none !important;
}

.btn:active {
          box-shadow: none;
}

.btn-primary {
          /* background: rgb(96,169,255); */
          background: rgb(0, 0, 0);
          color: #ffffff;
          /* transition: background 1s ease-out; */
          border-radius: 12px;
          font-family: 'Poppins' sans-serif;
}

.btn-primary:active {
          background: linear-gradient(135deg, rgba(255, 51, 163, 1) 0%, rgba(254, 117, 43, 1) 90%) !important;

}

.btn-primary:hover {
          /* background: linear-gradient(135deg, rgba(255,51,163,1) 0%, rgba(254,117,43,1) 90%); */
          background-color: #ff33a3;
          color: #ffffff;
}

.btn-secondary {
          /* background: rgb(96,169,255); */
          background: #eeba2b;
          color: #ffffff;
          /* transition: background 1s ease-out; */
          border-radius: 12px;
          /* font-family: 'EB Garamond'; */
          font-family: 'poppins', sans-serif
                    /* font-size: 23px; */

}

.btn-secondary:active {
          background-color: #eeba2b73;
}

.btn-secondary:hover {
          background-color: #0d042e;
          /* background: linear-gradient(135deg, rgba(255,51,163,1) 0%, rgba(254,117,43,1) 90%); */
          color: #ffffff;
}

.btn-lg {
          padding: 15px 20px;
}

body {
          /* background-color: #282c32; */
          color: #000;
          overflow-x: hidden;
}

::-moz-selection {
          background: #20a5ff;
          color: #fff;
}

::selection {
          background: #20a5ff;
          color: #fff;
}

/* preloader */
.preloader {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #fff;
          z-index: 999;
          display: flex;
          align-items: center;
          justify-content: center;
}

ol,
ul {
          list-style-type: none;
          margin: 0px;
}

img {
          vertical-align: middle;
          border: 0;
}

a,
a:hover,
a:focus {
          text-decoration: none;
}

a,
button,
select {
          cursor: pointer;
          transition: .2s ease;
}

a:focus,
button:focus,
select:focus {
          outline: 0;
}

a:hover {
          color: #008dec;
}

.slick-slide {
          outline: 0;
}

.section {
          padding-top: 10px;
          padding-bottom: 130px;
}

.section-sm {
          padding-top: 40px;
          padding-bottom: 40px;
}

.section-lg {
          padding-top: 150px;
          padding-bottom: 150px;
}

.heading-pra {
          margin-left: 30%;
          color: #fff;
          font-size: 1.60rem;
}

.heading-pratwo {
          margin-left: 21%;
          color: #fff;
          font-size: 1.60rem;
}

.head-line {
          font-size: 5rem;
          text-align: center;
          margin-right: 20%;
          color: #ffffff;
          font-family: 'Playfair Display';
}

.icons .img-icon {
          padding-left: -20%;
}

.divline {
          width: 200%;
          margin-left: -100%;
          color: #fff;
}

.head-under {
          font-size: 5.55rem;
          text-align: center;
          color: #eeba2b;
          font-family: 'Playfair Display';

}

.sub-head {
          font-size: 1.55rem;
          text-align: center;
          font-weight: 600;
          color: #eeba2b;
}

.head-pra {
          font-size: 2.44rem;
          text-align: center;
          padding-right: 18%;
          color: #fff;
}

@media (max-width: 575px) {
          .section-lg {
                    padding-top: 0px;
                    padding-bottom: 150px;
          }
}

.section-title {
          margin-bottom: 30px;
          font-family: 'Playfair Display';
          /* color: #000000; */
          /* font-family: 'Bodoni'; */
          line-height: 1;

}

@media screen and (max-width:768px) {
          .section-title {
                    font-family: 'poppins';
          }

          .section-lg {
                    padding-top: 100px;
                    padding-bottom: 150px;
          }

}

.bg-cover {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
}

/* overlay */
.overlay {
          position: relative;
}

.overlay::before {
          position: absolute;
          content: '';
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background: #000;
          opacity: .5;
}

.outline-0 {
          outline: 0 !important;
}

.d-unset {
          display: unset !important;
}

.page-title {
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
}

.bg-primary {
          background: #008dec !important;
}

.bg-gray {
          background: #f2f3f5;
}

.text-primary {
          color: #008dec !important;
}

.text-dark {
          color: #091337 !important;
}

.text-purple {
          color: #9491ff !important;
}

.text-color {
          color: #4d546f;
}

.primary-shadow {
          box-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);
}

.border-blue {
          border-color: #dcebf4 !important;
}

.shadow-primary {
          box-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);
}

.facebook {
          color: #334bff;
}

.twitter {
          color: #45d9f0;
}

.linkedin {
          color: #1b91ff;
}

.black {
          color: #000;
}

.mb-10 {
          margin-bottom: 10px !important;
}

.mb-20 {
          margin-bottom: 20px !important;
}

.mb-30 {
          margin-bottom: 30px !important;
}

.mb-40 {
          margin-bottom: 40px !important;
}

.mb-50 {
          margin-bottom: 50px !important;
}

.mb-60 {
          margin-bottom: 60px !important;
}

.mb-70 {
          margin-bottom: 70px !important;
}

.mb-80 {
          margin-bottom: 80px !important;
}

.mb-90 {
          margin-bottom: 90px !important;
}

.mb-100 {
          margin-bottom: 100px !important;
}

.pb-100 {
          padding-bottom: 100px !important;
}

.translate-y-150 {
          -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

@media (max-width: 575px) {
          .translate-y-150 {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
          }
}

.left-right-animation {
          animation: left_right 3s ease-in infinite alternate-reverse;
}

@-webkit-keyframes left_right {
          0% {
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
          }

          100% {
                    -webkit-transform: translateX(-20px);
                    transform: translateX(-20px);
          }
}

@keyframes left_right {
          0% {
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
          }

          100% {
                    -webkit-transform: translateX(-20px);
                    transform: translateX(-20px);
          }
}

.up-down-animation {
          animation: up_down 3s ease-in infinite alternate-reverse;
}

@-webkit-keyframes up_down {
          0% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
          }

          100% {
                    -webkit-transform: translateY(-20px);
                    transform: translateY(-20px);
          }
}

@keyframes up_down {
          0% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
          }

          100% {
                    -webkit-transform: translateY(-20px);
                    transform: translateY(-20px);
          }
}

.zindex-1 {
          z-index: 1;
}



.nav {
          width: 100%;
          height: 65px;
          /* position: fixed; */
          line-height: 65px;
          text-align: center;
}

.nav div.logo {
          float: left;
          width: auto;
          height: auto;
          margin-left: 35rem;
}

.nav div.logo a {
          text-decoration: none;
          color: #fff;
          font-size: 2.5rem;
}

.nav div.logo a:hover {
          color: #00E676;
}

.nav div.main_list {
          height: 65px;
          float: right;
}

.nav div.main_list ul {
          width: 100%;
          height: 65px;
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
}

.nav div.main_list ul li {
          width: auto;
          height: 65px;
          padding: 0;
          padding-right: 3rem;
}

.nav div.main_list ul li a {
          text-decoration: none;
          color: #fff;
          line-height: 65px;
          font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
          color: #00E676;
}


/* Home section */

.home {
          width: 100%;
          height: 100vh;
          background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
          background-position: center top;
          background-size: cover;
}

.navTrigger {
          display: none;
}

.nav {
          padding-top: 20px;
          padding-bottom: 20px;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
          .container {
                    margin: 0;
          }
}

@media screen and (max-width:768px) {
          .navTrigger {
                    display: block;
          }

          .nav div.logo {
                    margin-left: 15px;
          }

          .nav div.main_list {
                    width: 100%;
                    height: 0;
                    overflow: hidden;
          }

          .nav div.show_list {
                    height: auto;
                    display: none;
          }

          .nav div.main_list ul {
                    flex-direction: column;
                    width: 100%;
                    height: 100vh;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-color: #111;
                    /*same background color of navbar*/
                    background-position: center top;
          }

          .nav div.main_list ul li {
                    width: 100%;
                    text-align: right;
          }

          .nav div.main_list ul li a {
                    text-align: center;
                    width: 100%;
                    font-size: 3rem;
                    padding: 20px;
          }

          .nav div.media_button {
                    display: block;
          }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
          cursor: pointer;
          width: 30px;
          height: 25px;
          margin: auto;
          position: absolute;
          right: 30px;
          top: 0;
          bottom: 0;
}

.navTrigger i {
          background-color: #fff;
          border-radius: 2px;
          content: '';
          display: block;
          width: 100%;
          height: 4px;
}

.navTrigger i:nth-child(1) {
          -webkit-animation: outT 0.8s backwards;
          animation: outT 0.8s backwards;
          -webkit-animation-direction: reverse;
          animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
          margin: 5px 0;
          -webkit-animation: outM 0.8s backwards;
          animation: outM 0.8s backwards;
          -webkit-animation-direction: reverse;
          animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
          -webkit-animation: outBtm 0.8s backwards;
          animation: outBtm 0.8s backwards;
          -webkit-animation-direction: reverse;
          animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
          -webkit-animation: inT 0.8s forwards;
          animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
          -webkit-animation: inM 0.8s forwards;
          animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
          -webkit-animation: inBtm 0.8s forwards;
          animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
          50% {
                    -webkit-transform: rotate(0deg);
          }

          100% {
                    -webkit-transform: rotate(45deg);
          }
}

@keyframes inM {
          50% {
                    transform: rotate(0deg);
          }

          100% {
                    transform: rotate(45deg);
          }
}

@-webkit-keyframes outM {
          50% {
                    -webkit-transform: rotate(0deg);
          }

          100% {
                    -webkit-transform: rotate(45deg);
          }
}

@keyframes outM {
          50% {
                    transform: rotate(0deg);
          }

          100% {
                    transform: rotate(45deg);
          }
}

@-webkit-keyframes inT {
          0% {
                    -webkit-transform: translateY(0px) rotate(0deg);
          }

          50% {
                    -webkit-transform: translateY(9px) rotate(0deg);
          }

          100% {
                    -webkit-transform: translateY(9px) rotate(135deg);
          }
}

@keyframes inT {
          0% {
                    transform: translateY(0px) rotate(0deg);
          }

          50% {
                    transform: translateY(9px) rotate(0deg);
          }

          100% {
                    transform: translateY(9px) rotate(135deg);
          }
}

@-webkit-keyframes outT {
          0% {
                    -webkit-transform: translateY(0px) rotate(0deg);
          }

          50% {
                    -webkit-transform: translateY(9px) rotate(0deg);
          }

          100% {
                    -webkit-transform: translateY(9px) rotate(135deg);
          }
}

@keyframes outT {
          0% {
                    transform: translateY(0px) rotate(0deg);
          }

          50% {
                    transform: translateY(9px) rotate(0deg);
          }

          100% {
                    transform: translateY(9px) rotate(135deg);
          }
}

@-webkit-keyframes inBtm {
          0% {
                    -webkit-transform: translateY(0px) rotate(0deg);
          }

          50% {
                    -webkit-transform: translateY(-9px) rotate(0deg);
          }

          100% {
                    -webkit-transform: translateY(-9px) rotate(135deg);
          }
}

@keyframes inBtm {
          0% {
                    transform: translateY(0px) rotate(0deg);
          }

          50% {
                    transform: translateY(-9px) rotate(0deg);
          }

          100% {
                    transform: translateY(-9px) rotate(135deg);
          }
}

@-webkit-keyframes outBtm {
          0% {
                    -webkit-transform: translateY(0px) rotate(0deg);
          }

          50% {
                    -webkit-transform: translateY(-9px) rotate(0deg);
          }

          100% {
                    -webkit-transform: translateY(-9px) rotate(135deg);
          }
}

@keyframes outBtm {
          0% {
                    transform: translateY(0px) rotate(0deg);
          }

          50% {
                    transform: translateY(-9px) rotate(0deg);
          }

          100% {
                    transform: translateY(-9px) rotate(135deg);
          }
}

.affix {
          padding: 0;
          background-color: #111;
}






.myH2 {
          text-align: center;
          font-size: 4rem;
}

.myP {
          text-align: justify;
          padding-left: 15%;
          padding-right: 15%;
          font-size: 20px;
}

@media all and (max-width:700px) {
          .myP {
                    padding: 2%;
          }
}

.hero-section {
          padding-top: 210px;
          padding-bottom: 100px;
          background-repeat: no-repeat;

          background-size: cover;
          background-position: bottom center;
          /* margin-bottom: 300px; */
}

.banner-image {
          position: absolute;
          top: 110%;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.formbold-mb-5 {
          margin-bottom: 20px;
}

.formbold-pt-3 {
          padding-top: 12px;
}

.formbold-main-wrapper {
          display: flex;
          align-items: center;
          /* border: 1px solid black; */
          /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
          justify-content: center;
          padding: 48px;
}

.formbold-form-wrapper {
          margin: 0 auto;
          max-width: 550px;
          width: 100%;
          background: transparent;
}

.formbold-form-label {
          display: block;
          font-weight: 500;
          font-size: 16px;
          color: #ffffff;
          margin-bottom: 12px;
}

.formbold-form-label-2 {
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 20px;
}

.formbold-form-input {
          width: 100%;
          padding: 12px 24px;
          border-radius: 6px;
          border: 1px solid #e0e0e0;
          background: transparent;
          font-weight: 500;
          font-size: 16px;
          color: #ffffff;
          outline: none;
          resize: none;
}

.formbold-form-input:focus {
          border-color: #ffffff;
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
          text-align: center;
          font-size: 16px;
          border-radius: 6px;
          padding: 14px 32px;
          border: none;
          font-weight: 600;
          /* background-color: #6a64f1; */
          color: white;
          cursor: pointer;
}

.formbold-btn:hover {
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

::placeholder {
          color: #ffffff;
}

.formbold--mx-3 {
          margin-left: -12px;
          margin-right: -12px;
}

.formbold-px-3 {
          padding-left: 12px;
          padding-right: 12px;
}

.flex {
          display: flex;
}

.flex-wrap {
          flex-wrap: wrap;
}

.w-full {
          width: 100%;
}

@media (min-width: 540px) {
          .sm\:w-half {
                    width: 50%;
          }
}
.btnrespo {
          display: none;
      
        }

@media (min-width: 146px) and (max-width: 999.98px) {
          .nav div.logo {
                    /* float: left; */
                    align-items: center;
                    width: auto;
                    height: auto;
                    margin-left: 29%;

          }

          .head-line {
                    font-size: 3rem;
                    text-align: center;
                    margin-right: 1%;
                    color: #ffffff;
                    font-family: 'Playfair Display';
          }

          .head-under {
                    font-size: 3rem;
                    text-align: center;
                    color: #eeba2b;
                    font-family: 'Playfair Display';
          }

          .head-pra {
                    font-size: 1.50rem;
                    text-align: center;
                    padding-right: 1%;
                    color: #fff;
          }

          .divline {
                    width: 100%;
                    margin-left: 0%;
                    color: #fff;
          }

          .hero-section {
                    padding-top: 110px;
                    padding-bottom: 10px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: bottom center;
                    /* margin-bottom: 300px; */
          }

          .heading-pra {
                    margin-left: 18%;
                    color: #fff;
                    font-size: 1.40rem;
          }

          .heading-pratwo {
                    margin-left: 8%;
                    color: #fff;
                    font-size: 1rem;
          }

          .icon-img {
                    max-width: 22px;
          }

          .sub-head {
                    font-size: 1.40rem;
                    margin: 8%;
                    text-align: center;
                    font-weight: 600;
                    color: #eeba2b;
          }

}



.icon-img {
          width: 30px;
}